<%- include partials/header.ejs %>

<div class="col-lg-12">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <td>
                    <a class="btn btn-primary" href="/stores" role="button">Back</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-12">
        <form action="/offers/add" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <h3>Offer Details</h3>           
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Offer Title</label>
                    <input type="text" class="form-control" id="offer_title" name="offer_title" placeholder="Offer Title" value="test">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Offer Description</label>
                    <input type="text" class="form-control" id="offer_description" name="offer_description" placeholder="Offer Description" value="test">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Cluster</label>
                    <select id="cluster_id_offers_page_new" name="cluster_id" class="form-control">
                        <option selected value="0">Choose...</option>
                        <% for(var i=0; i < data.clustersList.length; i++) { %>
                            <option value="<%= data.clustersList[i].cluster_id %>">
                                <%= data.clustersList[i].cluster_name %>
                            </option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Category</label>
                    <select id="offer_in_category_id" name="offer_in_category_id" class="form-control">
                        <option selected value="0">Choose...</option>
                        <% for(var i=0; i < data.categoryList.length; i++) { %>
                            <option value="<%= data.categoryList[i].id %>"><%= data.categoryList[i].category_name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <div class="mx-auto">&nbsp;</div>
                        <input class="form-check-input" name="is_multiclaim_offer" type="checkbox" id="is_multiclaim_offer">
                        <label class="form-check-label" for="autoSizingCheck2">
                            Set as multi claim
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-check-label" for="exampleCheck1">How many times </label>
                    <input type="text" class="form-control" id="max_claim_count" name="max_claim_count" readonly placeholder="Offer Title" value="1">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Offer Points</label>
                    <input type="text" class="form-control" id="offer_points" name="offer_points" placeholder="Offer Points" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="inputPassword4">Valid From</label>
                    <div class='input-group' id='datetimepicker11'>
                        <input type='text' id="start_date" name="start_date" placeholder="2018-08-31 00:00:00" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputPassword4">Valid To</label>
                    <div class='input-group' id='datetimepicker11'>
                        <input type='text' id="end_date" name="end_date" placeholder="2018-08-31 00:00:00" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="inputPassword4">Offer Type</label>
                    <select id="offer_type_id" name="offer_type_id" class="form-control">
                        <% for(var i=0; i < data.offerTypes.length; i++) { %>
                            <option value="<%= data.offerTypes[i].id %>"><%= data.offerTypes[i].offer_type %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputPassword4">Offer Category</label>
                    <select id="offer_category_id" name="offer_category_id" class="form-control">
                            <% for(var i=0; i < data.offerCategoryData.length; i++) { %>
                                <option value="<%= data.offerCategoryData[i].id %>"><%= data.offerCategoryData[i].offer_category %></option>
                            <% } %>
                    </select>
                </div>
            </div>

                
            <div class="form-row">
                <h3>Offer Images</h3>                
            </div>
            <div class="form-row">
                <div class="form-group col-md-5 custom-file">
                    <input type="file" name="banner_image" class="custom-file-input" id="customFile1">
                    <label class="custom-file-label" for="customFile">Banner Image</label>
                </div>
                <div class="form-group col-md-5 custom-file">
                    <input type="file" name="offer_icon" class="custom-file-input" id="customFile2">
                    <label class="custom-file-label" for="customFile">Offer Image</label>
                </div>
            </div>
            <div class="mx-auto">&nbsp;</div>

              
            <div class="mx-auto">&nbsp;</div>
            <button type="submit" class="btn btn-primary">Add Offer</button>
            <div class="mx-auto">&nbsp;</div>
        </form>
    </div>
</div>
<%- include partials/footer.ejs %>